flask==2.2.5
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
Flask-Script==2.0.6
numpy==1.19.5
cryptography==40.0.2
psycopg2==2.9.8
scikit-learn==0.24.2
pymysql==1.0.2
flask-jwt-extended==4.4.2
flask-bcrypt==1.0.1
Flask-Cors==5.0.0
